<script>
  import {scaleLinear} from 'd3-scale';
  import {extent} from 'd3-array';
  import Design_1Building from './design_1_building.svelte';
	import Radio from './design_1_radio.svelte';
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  // Size and margins
  const width = 1000;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const build_height = innerHeight/16;
  // load data 
 
  let datapoints = [];
 /* fetch('/static/data/hourly_heating_december.json')
    .then(res => res.json())
    .then(data => datapoints = data)*/
  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json");
  })
$:console.log('december',datapoints);

  //{city : {
  //          building type 1: [hourly things]
  //            building2 : []}
  //          }

  let transformed_data = {}
  $: {
    datapoints.forEach((d) => {
     if(!(d.city in transformed_data)){
      transformed_data[d.city] ={}
     }
    if(!(d.buildingtype in transformed_data[d.city])){
      transformed_data[d.city][d.buildingtype] = []
    }
     
     transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
    })
  }
  
  $: xScale = scaleLinear().domain([0,744]).range([0,744])
  $: yScale = scaleLinear().domain(extent(datapoints.map((d) => d.total_heating_energy))).range([build_height,0])
  
  // set up radio button 
  
 
  let radioValue;
	
	const options = [{
		value: 'Baltimore',
		label: 'Baltimore',
	}, {
		value: 'Chicago',
		label: 'Chicago',
	}, {
		value: 'Los Angeles',
		label: 'Los Angeles',
	}]

</script>

<Radio {options} fontSize={12} legend='Select a city' bind:userSelected={radioValue}/>
<svg {width} {height}>
  {#each  Object.keys(transformed_data) as city, city_idx}
  <g transform="translate({margin.left}, {margin.top})">
    {#if city == radioValue}
      <Design_1Building data={transformed_data[city]} {width} {height} {xScale} {yScale} {build_height}/>
    {/if}
  </g>
 {/each}
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

</style>
