<script>
    export let data = [];
    export let xScale;
    export let yScale;

    let pathGenerator = (d)=> {
    let path = "M 0," +yScale(0) ;
    d.forEach((value,value_idx) => {
        path+= " " + xScale(value_idx) +','+yScale(value); 
    });
    
    return path;
  }

</script>



<svg>
<!--<circle cx={xScale(value_idx)} cy={yScale(value)}  r =3/> -->
 <path d= {pathGenerator(data)}/>
</svg>

<style>
    path{
    stroke:none;
    fill-opacity: 1;
    ;
  }
 
</style> 
