<script>
  import {scaleLinear, scaleRadial,scaleTime,scaleBand} from 'd3-scale';
  import {lineRadial} from 'd3-shape';
  import {extent} from 'd3-array';
  import { areaRadial } from "d3-shape";
  import Design_2Plots from './design_2_plots.svelte';
  import { json } from "d3-fetch";
  import { onMount } from "svelte";


  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const city_width = innerWidth/3;
  let radius = innerHeight/4;
  let outerradius = Math.min(city_width, height) / 2;
  // get data 
  let datapoints = [];
  /*fetch('/static/data/daily_heating_cooling.json')
    .then(res => res.json())
    .then(data => datapoints = data)*/
  // Load the data
  onMount(async () => {
    datapoints = await json("/data/daily_heating_cooling.json");
  });
  $: console.log(datapoints)


  //{ city: { "cooling":[data]
  //           "heating:[data"]}}}
 
 let transformed_data = {}
  $: {
    datapoints.forEach((d) => {
     /*if(!(d.city in transformed_data)){
      transformed_data[d.city] ={}}*/
       
     if(!(d.city in transformed_data)){
       transformed_data[d.city]={'day_of_year':[], 'heating':[],'cooling':[]}
     }
      transformed_data[d.city]['heating'].push(d.heating)
      transformed_data[d.city]['day_of_year'].push(d.day_of_year)
      transformed_data[d.city]['cooling'].push(d.cooling)
    })
  }
  $: console.log(transformed_data)
   
  $: xScale = scaleLinear().domain([1,365]).range([0, 2 * Math.PI]);
  $: scale_heating = scaleRadial().range([0, radius]).domain(extent(datapoints.map((d) => d.heating)));
  $: scale_cooling = scaleRadial().range([0, radius]).domain(extent(datapoints.map((d) => d.cooling)));
 


</script>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformed_data) as city, city_idx}
    <g transform="translate({city_idx * city_width},{margin.top})"> 
      <text x = {city_width/2-radius+20} y= {innerHeight/10} >{city}</text>
       <!-- vertical axis-->
      <line x1={city_width/2} y1={(innerHeight/2-radius)-10} x2={city_width/2} y2={(innerHeight/2+radius)+10}/>
      <!-- horizontal axis-->
      <line x1={(city_width/2)-radius-10} y1={innerHeight/2} x2={(city_width/2)+radius+10} y2={innerHeight/2}/>
      <circle cx={city_width/2} cy={innerHeight/2} r={radius}/>

      <text x={city_width/2-4} y={(innerHeight/2-radius)-15}>0</text>
      <text x={city_width/2-4} y={(innerHeight/2+radius)+20}>6</text>
      <text x={(city_width/2)-radius-14} y={innerHeight/2+4}>9</text>
      <text x={(city_width/2)+radius+14} y={innerHeight/2+4}>3</text>
      
      <Design_2Plots data ={transformed_data[city]} xScale={xScale} scale_heating={scale_heating} scale_cooling={scale_cooling}
      cx = {city_width/2} cy={innerHeight/2}/> 
    </g>
    <text x={innerWidth-40} y={innerHeight-30}>heating</text>
    <text x={innerWidth-40} y={innerHeight-10}>cooling</text>
    <rect x={innerWidth-55} y={innerHeight-40} width="10" height="10" class=heating />
    <rect x={innerWidth-55} y={innerHeight-20} width="10" height="10" class=cooling />

    {/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line{
    stroke: black;
    opacity: 0.5;
    
  }
  circle{
    fill: none;
    stroke: black;
  }
  text{
    font-size: small;
    align-items: center;
  }
  .heating {
    fill: red;
    fill-opacity: 0.7;
  }
  .cooling {
    fill: aqua;
    fill-opacity: 0.5;
  }
</style>
