<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import {scaleLinear} from 'd3-scale';
  import {extent} from 'd3-array';

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;


  let datapoints = [];
  // Load the data
  onMount(async () => {
    datapoints = await json("/data/hourly_electricity_vs_gas_december.json");
  });
  $: console.log(datapoints)


  let transformed_data_gas ={}
  let transformed_data_electricity={}
 

$:{
    datapoints.forEach((d) => {
      if ( !(d.week in transformed_data_gas)){
        transformed_data_gas[d.week] = {}
      }
      if ( !(d.day in transformed_data_gas[d.week])){
        transformed_data_gas[d.week][d.day] = []
      }
      transformed_data_gas[d.week][d.day].push(d.total_gas)
    })
  }
  $:console.log('gas',transformed_data_gas)
  $:{
    datapoints.forEach((d) => {
      if ( !(d.week in  transformed_data_electricity)){
        transformed_data_electricity[d.week] = {}
      }
      if ( !(d.day in  transformed_data_electricity[d.week])){
         transformed_data_electricity[d.week][d.day] = []
      } 
       transformed_data_electricity[d.week][d.day].push(d.total_electrity)
    })
  }
  $:console.log('electricity',transformed_data_electricity)
  // scales 
 $:dom_elect = extent(datapoints.map((d)=>d.total_electrity));
 $:console.log(dom_elect[0])
$: yScale_electricity = scaleLinear().domain(dom_elect).range([0,70])
$: yScale_gas = scaleLinear().domain(extent(datapoints.map((d)=>d.total_gas))).range([0,70])
$: xScale = scaleLinear().domain([0,23]).range([0,150/7])
// paths
$:console.log(yScale_electricity.range())
$:console.log(yScale_electricity.domain())
let pathGenerator_electicity = (d) => {

let path = "M 0," + (-yScale_electricity(dom_elect[0]));
d.forEach((value, idx) => {
  path += " " + xScale(idx) + ',' + (-yScale_electricity(value));})
path+='Z';
return path;
}

let pathGenerator_gas = (d) => {

let path = "M 0," + yScale_gas(0);
d.forEach((value, idx) => {
path += " " + xScale(idx) + ',' + yScale_gas(value);})
return path;
}

</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <line x1={innerWidth/2} y1={margin.top} x2={innerWidth/2} y2={innerHeight-100+margin.top} stroke="black" />
    <!-- week 5-->
    <line x1={innerWidth/2} y1={80} x2={innerWidth/2+(150)*3/7} y2={80} stroke="black" />
    <!--week 4-->
    <line x1={innerWidth/2-150} y1={160} x2={innerWidth/2} y2={160} stroke="black" />
    <!--week 3-->
    <line x1={innerWidth/2} y1={240} x2={innerWidth/2+150} y2={240} stroke="black" />
    <!--week 2-->
    <line x1={innerWidth/2-150} y1={320} x2={innerWidth/2} y2={320} stroke="black" />
    <!--week 1-->
    <line x1={innerWidth/2} y1={400} x2={innerWidth/2+150} y2={400} stroke="black" />
    {#each Object.keys(transformed_data_gas) as weeks,week_idx}
    <g transform = 'translate({0},{400-(80*week_idx)})'>
      {#each Object.keys(transformed_data_gas[weeks]) as day,day_idx}
      {#if (week_idx+1)%2 == 0}
      <g transform='translate({innerWidth/2},{0})'>
        <g transform ='translate({((day_idx+1)*-(150/7))},{0})'>
         <path class= 'gas' d={pathGenerator_gas(Object.values(transformed_data_gas[weeks][day]))}/>
         
        </g>
      </g>
      {:else}
      <g transform='translate({innerWidth/2},{0})'>
        <g transform ='translate({day_idx*(150/7)},{0})'>
          <path class= 'gas' d={pathGenerator_gas(Object.values(transformed_data_gas[weeks][day]))}/>
        
        </g>
        
      </g>
      {/if}
      {/each}
    </g>
    {/each}

    <!--plot electricity-->
    {#each Object.keys(transformed_data_electricity) as weeks_e,week_e_idx}
    <g transform = 'translate({0},{400-(80*week_e_idx)})'>
      <text>week: {week_e_idx+1}</text>
      {#each Object.keys(transformed_data_electricity[weeks_e]) as day_e,day_e_idx}
      {#if (week_e_idx+1)%2 == 0}
      <g transform='translate({innerWidth/2},{0})'>
        <g transform ='translate({(day_e_idx+1)*-(150/7)},{0})'>
          <path class= 'elect' d={pathGenerator_electicity(Object.values(transformed_data_electricity[weeks_e][day_e]))}/>
          
          
        </g>
      </g>
      {:else}
      <g transform='translate({innerWidth/2},{0})'>
        <g transform ='translate({day_e_idx*(150/7)},{0})'>
          <path class= 'elect' d={pathGenerator_electicity(Object.values(transformed_data_electricity[weeks_e][day_e]))}/>
        </g>
        
      </g>
      {/if}
      {/each}
    </g>
    {/each}
    <text x={innerWidth-80} y={innerHeight-30}>electricity</text>
    <text x={innerWidth-80} y={innerHeight-10}>gas</text>
    <rect x={innerWidth-95} y={innerHeight-40} width="10" height="10" class=elect />
    <rect x={innerWidth-95} y={innerHeight-20} width="10" height="10" class=gas />
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
 .elect{
   fill: blue;
   fill-opacity: 0.8;
   stroke: blue;
 }
 .gas{
  fill: orange;
   fill-opacity: 0.8;
   stroke: orange;
 }
</style>
