<script>
import {scaleLinear, scaleRadial,scaleTime,scaleBand} from 'd3-scale';
import {lineRadial} from 'd3-shape';
import {extent} from 'd3-array';
import { radialArea } from "d3-shape";



export let data = [];
export let xScale;
export let scale_cooling;
export let scale_heating;
export let cx;
export let cy;

//mapping 
$: draw_heating = radialArea().angle((a,b)=> xScale(a)).innerRadius(0).outerRadius((a,b)=>scale_heating(a));
$: draw_cooling = radialArea().angle((a,b)=> xScale(a)).innerRadius(0).outerRadius((a,b)=>scale_cooling(a));





</script>

<svg>
 <g transform="translate({cx},{cy})">
 <path class =heating d={draw_heating((Object.values(data['day_of_year']),Object.values(data['heating'])))}/>
 <path class =cooling d={draw_cooling((Object.values(data['day_of_year']),Object.values(data['cooling'])))}/>
  
   
</g>
</svg>


<style>
   
  .heating {
    fill: red;
    fill-opacity: 0.7;
  }
  .cooling {
    fill: aqua;
    fill-opacity: 0.5;
  }
</style>