<script>
import Design_1Month from "./design_1_month.svelte";

    export let data = {};
    export let build_height;
    export let xScale;
    export let yScale;
    export let width;
    export let height;
</script>



<svg {width} {height}>
    {#each Object.keys(data) as building, build_idx}
    <g transform = 'translate(0, {build_idx*build_height})' >
        <text x = 744 y = 30>{building}</text>
      <Design_1Month data={data[building]} {xScale}{yScale}/>
    </g> 
    {/each}
</svg>

<style>
    text{
        font-size: xx-small;
    }
</style>

