<script>
  let current = "";
</script>

<style>
  .myClassName {
    background-color: #ff3e00;
  }
</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:myClassName={current==='neymar'} on:click={() => (current = "neymar")}>
  Neymar
</button>
