<style>
    p {
      color: steelblue;
      font-size: 60px;
      font-family: "Times New Roman", Times, serif;

    }

  </style>
<p>I <span style='color:red'>really</span> like data visualisation!</p>

