<script>
	let count = 0;
</script>

<button type="button" class="btn btn-outline-primary" on:click={() => count += 1}>{count}</button>
<button type="button" class="btn btn-outline-dark" on:click={() => count = 0}>Reset count</button>