<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // Initial color and opacity of the circles
  const startColor = "darkred";
  const startOpacity = 0.3;

  // SVG circle data
  let circleData = [
    {
      id: "circle-1",
      x: points[0],
      color: startColor,
      opacity: startOpacity
    },
    {
      id: "circle-2",
      x: points[1],
      color: startColor,
      opacity: startOpacity
    },
    {
      id: "circle-3",
      x: points[2],
      color: startColor,
      opacity: startOpacity
    },
    {
      id: "circle-4",
      x: points[3],
      color: startColor,
      opacity: startOpacity
    },
    {
      id: "circle-5",
      x: points[4],
      color: startColor,
      opacity: startOpacity
    }
  ];

  // Index of the current circle selected
  let currentCircleIndex = circleData.length;

  // Start the process by calling the circleManipulator() function each second
  const intervalId = setInterval(() => {
    if (currentCircleIndex == -1) {
      // Stop the setInterval loop once we have reached the last circle
      clearInterval(intervalId);
    } else {
      // To select the previous object in the array
      currentCircleIndex--;
    }
  }, 1000);

  // Changes the opacity property at the selected index to solid
  const opacityfunction = (arrayIndex) => {
    circleData[arrayIndex].opacity = 1;
  };

  // Makes all the circles green
  const colorfunction = () => {
    for (var i = 0; i < circleData.length; i++) {
      circleData[i].color = "darkgreen";
    }
  };

  // The statements below react on the changes of the global currentCircleIndex changes
  $: {
    // Execute the opacity function
    if (currentCircleIndex < circleData.length && currentCircleIndex >= 0) {
      opacityfunction(currentCircleIndex);
    }

    // Execute the function to make all the circles green
    if (currentCircleIndex == -1) {
      colorfunction();
    }
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each circleData as circle}
      <circle
        cx={circle.x}
        cy=45
        r="10"
        fill={circle.color}
        opacity={circle.opacity}
      />
    {/each}
  </g>
</svg>

