<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });


  let cont = 'all';
  let year = 1800;
  let filter_continent;

  function extract_data (data, cont,year){
    const filter_year = data.filter(d => d.year == year);
  if (cont == 'all') {
    filter_continent = filter_year[0]['countries'];
  } else {
    filter_continent = filter_year[0]['countries'].filter(d => d.continent == cont);
  };
 return filter_continent
}
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={extract_data(data, cont, year)} />
    <Controls bind:year={year} bind:cont={cont} {data} />
  </div>
{/if}
