<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import {axisBottom} from 'd3-axis';
  import  {select} from 'd3-selection';
  import { scaleLog } from 'd3-scale';
  let scale = scaleLog().domain([2,9]).range([margin.left,innerWidth- margin.right]);
  let g;
  // Array
  const values = [2, 4, 6, 7, 9];
  $: {
    select(g).selectAll("*").remove();
    let axis;
        axis = axisBottom(scale).tickSizeOuter(0);
    select(g).call(axis);
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g class="axis" bind:this={g} transform = 'translate({margin.left}, {innerHeight})'  />  
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value }
      <circle cx = {scale(value)} cy = 45 r = 10/>
    {/each}
    <text x={innerWidth / 2} y={innerHeight+15}> x-axis</text>
  </g>
</svg>
