<script>  
  import {axisBottom} from 'd3-axis';
  import  {select} from 'd3-selection';
  import { scaleLinear } from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {schemeAccent} from 'd3-scale-chromatic';
  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  let scalelx = scaleLinear().domain([2,9]).range([margin.left, innerWidth ]); 
  let scaley = scaleLinear().domain([1,3]).range([5, innerHeight-5]);
  let accent = scaleOrdinal(schemeAccent);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val }
      <circle cx = {scalelx(val.x)} cy = {scaley(val.y)} r = 10 fill = {accent(val.category)}/>
      <text class= 'valuelabel' x= {scalelx(val.x)} y = {scaley(val.y)-10}> {val.y}</text>
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }

</style>
