<script>
  // import 
  import {scaleBand} from 'd3-scale';
  import {scaleLinear} from 'd3-scale';
  import {select, selectAll} from 'd3-selection';
  import { extent, max, min } from "d3-array";
  import {axisBottom, axisLeft} from 'd3-axis';
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  // vars 
  var xScale = scaleBand().range([0, innerWidth]).padding(0.4);
  var yScale = scaleLinear().range([innerHeight, 0]);
  let a;
  let b;
  xScale.domain(data.map(function(d) { return d.service; }));
  yScale.domain([0, max(data, function(d) { return d.viewers; })]);
  $: {
    select(a).selectAll("*").remove();
    let axisx;
        axisx = axisBottom(xScale).tickSizeOuter(0);
    select(a).call(axisx);
   
  }
  $:{
    select(b).selectAll("*").remove();
    let axisy;
        axisy = axisLeft(yScale).tickSizeOuter(0);
        
    select(b).call(axisy).append("text")
         .attr("transform", "rotate(-90)")
         .attr("y",6)
         .attr("x",-innerHeight/2)
         .attr("dy", "-5.1em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("amount of viewers");
  }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g class="axis" bind:this={a} transform = 'translate({margin.left}, {innerHeight})'  />
  <g class="axis" bind:this={b} transform = 'translate({margin.left},0 )'/> 
  <g transform={`translate(${margin.left},${margin.top})`}>
      {#each data as d }
      <rect class = bar x = {xScale(d.service)} y = {yScale(d.viewers)} width={xScale.bandwidth()}
      height= {innerHeight-10 - yScale(d.viewers)} />
      {/each}
  </g>
</svg>
<style>
  .bar {
            fill: steelblue;
        }
</style>